#root {
  max-width: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav-link {
  color: #b8b8b8;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.nav-link:hover {
  color: white;
}

[data-slot='card'] img {
  border-radius: 10px;
}

[data-slot='card'] .card-image-container {
  position: relative;
  img :hover{
          transform: scale(1.1);
          transition: transform 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}

[data-slot='card'] .card-image-container img:hover{
          transform: scale(1.1);
          transition: transform 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.image_zoom :hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.small-banner {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: white;
    background-position: center;
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title {
    text-align: center;
    justify-content: center;
    color: #0e0e46;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    line-height: 38.4px;
  }

  .skills_sction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
  }

  .skill_tag {
    text-align: left;
    color: #0070ae;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.75;
  }

  .skill_title {
    color: #00204a;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    line-height: 60px;
  }
  
  .default_btn {
    background-color: #0070ae;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
  }

  .join_us-banner {
    background-size: auto;
    padding: 0px;
    height: 360px;
    align-items: center;
    .bg-opacity{
      opacity: 0.8;
      justify-content: center;
      display: flex
  ;
      flex-direction: column;
    }
  }
  
  @media (min-width: 1024px) {
    .small-banner {
      height: 450px;
      padding: 20px;
    }
  }

    @media (max-width: 720px) {
      .small-banner {
        background-size: auto;
        padding: 20px;
      }
    }


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
